<div class="card" style="max-width: 400px; margin: auto; text-align: center; border-radius: 20px;margin-top: 60px; ">

    <h1 style="font-family: Arial; margin-top: 25px;">Página de Login 
    </h1>
    <form action="/verifica" met>
        <input type="text" class="form-control" placeholder="Nome de Usuário" name="username" style="max-width: 300px;margin:auto; margin-top: 20px;">
        <input type="password" class="form-control" placeholder="Senha" name="password" style="max-width: 300px; margin:auto;">
        <button type="submit" class="btn btn-primary" style="margin-top: 25px;">Enviar</button>
    </form>
</div>