

<div class="card" style="max-width: 400px; margin: auto; text-align: center; border-radius: 20px;margin-top: 60px; ">

    <h1 style="font-family: Arial; margin-top: 25px;">Página de Verificação
    </h1>
        <input type="text" class="form-control" placeholder="Usuario: <%= nome %>" style="max-width: 300px;margin:auto; margin-top: 20px;" disabled>
        <input type="password" class="form-control" placeholder="Senha: <%= senha %>" style="max-width: 300px; margin:auto;" disabled>
        <input type="password" class="form-control" placeholder="Senha md5: <%= senhaMD5 %>"  style="max-width: 300px; margin:auto;" disabled>
        <a href="/" > <span class="btn btn-outline-primary">Retornar</span> </a> 
</div>